$mainFontFamily: 'Bree Serif',
serif;
$secondaryFontFamily: 'Poppins',
serif;
$thirdFontFamily: 'Unna',
serif;
$titleColor: #000000;
$infoBoxBgColor: rgb(0, 0, 0, 0.55);
$infoBoxTextColor: #ffffff;
$errorBoxBg: #840808;
$errorBoxColor: #ffffff;